.container {
  position: relative;
  animation: appear-content 2s linear;
}

.sectionHeading {
  position: relative;
  margin-bottom: 100px;

  font-size: 4rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.link-button:hover {
  font-weight: 500;
  color: var(--bs-color2);
}

@keyframes appear-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}