.card {
  border: 2px solid var(--bs-gray-600);
  border-radius: 10px;
  box-shadow: 7px 7px 5px var(--bs-gray-600);
  background-color: white;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1rem;
}

.main-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  margin-left: 3rem;
}

.employer-name {
  color: var(--bs-color1);
  font-weight: bolder;
}

.detail-container {
  text-align: left;
}

.tech-stack-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  align-items: center;
}

.tech-stack-image {
  width: 50px;
}

.tech-stack-name {
  text-align: center;
  max-width: 75px;
  font-weight: 600;
  line-height: 1em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}