.container {
  margin: auto;
  margin-left: 20vh;
  margin-right: 20vh;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--bs-color5);
}

.wrapper {
  border-left: 10px solid var(--bs-color5);
  padding: 2rem;
}