.container {
  border: 1px solid var(--bs-gray-500);
  box-shadow: 7px 4px 5px var(--bs-gray-600);

  width: fit-content;
  position: relative;
}

.nav {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;
  display: flex;
}

.reveal-navbar::after {
  content: "";
  position: absolute;
  animation: appear-navbar 0.5s linear forwards;
  width: 0%;
  height: 100%;
  background: var(--bs-color5);
  right: 0;
  top: 0;
}

.reveal-navbar span {
  opacity: 0;
  animation: appear-text .5s linear forwards;
  animation-delay: .45s;
}

.nav-item {
  padding: 1rem;

  font-weight: 800;
  font-size: large;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.nav-item:hover {
  cursor: pointer;
  color: var(--bs-color2);
  background-color: var(--bs-color5);
  transition: all 0.3s;
}

@keyframes appear-navbar {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 1;
  }
}