.container {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

ul {
  list-style: none;

  padding-right: 2vh;
  display: flex;
}

li {
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  font-weight: 800;
  font-size: large;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

li>span {
  text-align: center;
}

li:hover {
  color: var(--bs-color2);
  background: var(--bs-color5);
}