.container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
  animation: appear-nav 2s linear;
}

.nav {
  list-style: none;

  padding-right: 2vh;
  display: flex;
}

.nav-item {
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  font-weight: 800;
  font-size: large;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.nav-item>span {
  text-align: center;
}

.nav-item:hover {
  color: var(--bs-color2);
  background: var(--bs-color5);
}

.nav-text:hover {
  text-decoration: none;
  color: var(--bs-color2);
}

@keyframes appear-nav {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}